@model CaseTracker.Models.Case

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Case</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vslName" class="control-label"></label>
                <input asp-for="vslName" class="form-control" />
                <span asp-validation-for="vslName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vslOffNum" class="control-label"></label>
                <input asp-for="vslOffNum" class="form-control" />
                <span asp-validation-for="vslOffNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="activityId" class="control-label"></label>
                <input asp-for="activityId" class="form-control" />
                <span asp-validation-for="activityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userFirstName" class="control-label"></label>
                <input asp-for="userFirstName" class="form-control" />
                <span asp-validation-for="userFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userLastName" class="control-label"></label>
                <input asp-for="userLastName" class="form-control" />
                <span asp-validation-for="userLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactNum" class="control-label"></label>
                <input asp-for="contactNum" class="form-control" />
                <span asp-validation-for="contactNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userEmail" class="control-label"></label>
                <input asp-for="userEmail" class="form-control" />
                <span asp-validation-for="userEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
